page-content {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (orientation: landscape) {
    body {
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }
}


/* Keyframes for typing animation */
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 27.5ch; /* Adjust this based on the full length of the name */
    }
}

/* Cursor blinking animation */
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

/* Scroll Reveal Effect */
.scroll-reveal {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    font-weight: normal; /* Ensuring the font weight remains normal */
}

.scroll-reveal.active {
    opacity: 1;
    transform: translateY(0);
    font-weight: normal; /* Ensure the font weight is still normal when active */
}