/* Import skills.css into main.css */
@import url('../css/skills.css');
@import url('../css/icons.css');
@import url('../css/navbar.css');
@import url('../css/education.css');
@import url('../css/effects.css');
@import url('../css/project.css');
@import url('../css/media.css');
@import url('../css/footer.css');
@import url('../css/work.css');


/* General body styling */
:root {
    --body: #000000;
    --header-font-color: #ffffff;
    --font-color: #ffffff;
    --font-color2: #a6ff00;
    --cinzel-font: 'Cinzel', sans-serif;
    --padding-default: 1rem;
    --container-pg-skills:  #181818;
    --container-pg-education: #181818;
    --container-pg-school: #1d1c1c;
    --container-project:  #181818;
    --font-size: 15px;
    --font-size-intro-header: 20px;
    --font-size-fresh: 26px;
    --font-weight-nrm: normal; 
    --font-weight-educ:normal;
    --font-weight-skills:normal;
    --font-navbar: 14px;
    --icon-color: #88ff00;
    
  }
  
  body {
    margin: 0;
    padding: 0;
    background-color: var(--body);
    color: var(--header-font-color)
    
  }

  .home-section-container {
    display: grid;
    grid-template-columns: auto 1fr auto; /* Left (h3), Center (div with h1 & p), Right (empty) */
    align-items: center; /* Vertically align items in the grid row */
    gap: 20px; /* Optional: Adjust space between the main elements */
    margin-top: 50px;
    font-family: var(--cinzel-font);
  }
  
  .home-section-container > div {
    text-align: center; /* Center the content within the middle div */
    margin-right: 40%
  }

  
  h1 {
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 5px; /* Add the 5px gap below the title */
  }
  
  .quote {
    color: var(--icon-color);
    font-size: 13px;
    text-align: center;
    margin-top: 0; /* Remove default top margin */
  }
  
  h3 {
    font-size: 20px;
    font-family: var(--cinzel-font);
    font-weight: bold;
    margin-left: 250px;
    margin-bottom: 100px;
    color: rgb(253, 253, 253);
    text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.5), -2px -2px 5px rgba(255, 255, 255, 0.3);
  }

  .left-texts-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribute space between elements */
    align-items: flex-start;
    padding: 5px;
    max-width: 90%; /* Limit container width */
    gap: 15px; /* Adjust gap between text elements */
    position: relative; /* Needed for absolute positioning of social icons container */
    min-height: 300px; /* Adjust this value based on the height of your text content */
  }

  
.three-rows {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: start; /* Important: allow items to align left */
    padding: 0 10px;
    margin-left: 15%;
}


/* Heading */
.intro-heading {
    font-size: var(--font-size-intro-header);
    color: var(--header-font-color);
    font-family: var(--cinzel-font);
    font-weight: bold;
    margin: 0;
}


/* Image */
.right-image {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(138, 122, 122, 0.3);
    border: 4px solid #fff;
    animation: glow 2s infinite alternate;
    margin-left: 50px;
}

.p2.typing-effect {
    font-family: var(--cinzel-font);
    font-size: 30px;
    font-weight: bold;
    color: var(--font-color2);
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid white;
    width: 0;
    animation: typing 5s steps(33, end) 1s forwards, blink 0.75s step-end 6s; /* Added 6s delay to blink */
    padding-right: 5px;
    margin: 0;
}



/* Subheading */
.fresh {
    text-indent: 20px;
    font-family: 'Sen', sans-serif;
    font-size: var(--font-size-fresh);
    font-weight: bold;
    color: white;
    margin: 0;
}

/* Paragraph */
.definition1 {
    font-family: var(--cinzel-font);
    text-align: justify;
    text-indent: 60px;
    line-height: 1.8;
    margin: 0;
}

/* Highlighted Span */
.computer-engineering {
    color: #007BFF;
    font-size: 26px;
}


/* Glow Animation */
@keyframes glow {
    0% {
        box-shadow: 0 0 10px rgba(3, 3, 3, 0.6);
    }
    100% {
        box-shadow: 0 0 30px rgb(67, 67, 67);
    }
}


