/* Mobile First */
@media (max-width: 768px) {
  nav {
      flex-direction: column;
  }

  .three-rows {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .right-image-container img {
      width: 100%;
      height: auto;
  }

  .home-section-container {
      grid-template-columns: 1fr;
      text-align: center;
  }
}

/* Tablet (min-width: 768px) */
@media (min-width: 768px) {
  .projects-container {
      flex-direction: row;
      flex-wrap: wrap;
  }

  .project-item {
      width: calc(50% - 10px);
  }
}

/* Desktop (min-width: 992px) */
@media (min-width: 992px) {
  .project-item {
      width: calc(33.33% - 14px);
  }
}
