nav {
    position: absolute;
    top: 0;
    right: 0;
    font-size: var(--font-navbar);
    background-color: transparent;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 20px;
    font-weight: bold;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s; /* Optional: for smooth color change */
}

nav a:hover {
    color: #95d500de; /* Change text color on hover */
    /* Or add underline instead: text-decoration: underline; */
}
