/* work.css */
#work {
    background-color: var(--body);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 60vh; /* Adjust as needed */
    padding-top: 50px;
    padding-bottom: 50px;
}

.unified-work-title {
    text-align: center;
    font-family: var(--cinzel-font);
    font-size: 2rem;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: var(--font-weight-educ);
    margin-bottom: 30px;
}

.work-section-wrapper {
    display: flex;
    justify-content: space-around; /* Distribute space between left and right containers */
    align-items: flex-start; /* Align items to the top */
    background-color: var(--container-pg-education);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    width: 90%; /* Adjust width as needed */
    max-width: 1200px; /* Adjust max-width as needed */
    margin: 0 auto;
    padding: 30px;
}

.work-left-container,
.work-right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%; /* Adjust width for left and right columns */
    text-align: center; /* Center the text within these containers */
}

.work-item {
    background-color: var(--container-pg-school);
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center; /* Center the text within each work item */
}

.work-item:hover {
    transform: scale(1.03); /* Slightly less zoom for horizontal layout */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Slightly less shadow */
    z-index: 2;
}

.company {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
}

.work-date {
    font-size: var(--font-size-small); /* Use a smaller font size for dates */
    color: #ffffff;
}

.work-info {
    font-size: 16px;
    color: var(--font-color2);
}